.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    height: 1000px;
    width: 1150px;
    background-color: aquamarine;
}

.content {
    flex: 1;
    background-color: bisque;
}
